In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
train = pd.read_csv('/content/drive/My Drive/Analytics vidhya/Predict Number of Upvotes/train_NIR5Yl1.csv')
test = pd.read_csv('/content/drive/My Drive/Analytics vidhya/Predict Number of Upvotes/test_8i3B3FC.csv')
samp = pd.read_csv('/content/drive/My Drive/Analytics vidhya/Predict Number of Upvotes/sample_submission_OR5kZa5.csv')

In [ ]:
train.head()

   Tag  Reputation  Answers  Views  Upvotes
0    0        3942        2   7855       42
1    0       26046       12  55801     1175
2    1        1358        4   8067       60
3    0         264        3  27064        9
4    1        4271        4  13986       83

In [ ]:
test.head()

   Tag  Reputation  Answers  Views
0    0        5645        3  33200
1    1       24511        6   2730
2    3         927        1  21167
3    3          21        6  18528
4    3        4475       10  57240

In [ ]:
samp.head()

   ID  Upvotes
0   7      500
1   9      500
2  12      500
3  13      500
4  16      500

In [ ]:
train.shape, test.shape

((330045, 5), (141448, 4))

In [ ]:
print(train.ID.nunique())
print(test.ID.nunique())
print(train.Username.nunique())
print(test.Username.nunique())

330045
141448
141802
79351

In [ ]:
train.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [ ]:
test.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [ ]:
train.dtypes

ID            int64
Tag           int64
Reputation    int64
Answers       int64
Username      int64
Views         int64
Upvotes       int64
dtype: object

In [ ]:
train['Reputation'] = train['Reputation'].astype(int)
train['Answers'] = train['Answers'].astype(int)
train['Views'] = train['Views'].astype(int)
train['Upvotes'] = train['Upvotes'].astype(int)

In [ ]:
test['Reputation'] = test['Reputation'].astype(int)
test['Answers'] = test['Answers'].astype(int)
test['Views'] = test['Views'].astype(int)

In [ ]:
le = LabelEncoder()
train['Tag'] = le.fit_transform(train['Tag'])
test['Tag'] = le.fit_transform(test['Tag'])

In [ ]:
train.drop(['ID', 'Username'], axis=1, inplace=True)
test.drop(['ID', 'Username'], axis=1, inplace=True)

In [ ]:
X = train.drop('Upvotes', axis=1)
y = train['Upvotes']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
clf = RandomForestRegressor()

In [ ]:
clf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
preds = clf.predict(X_test)

In [ ]:
len(preds)

66009

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, preds))
rmse

1473.6230797843025

In [ ]:
predss = clf.predict(test)
len(predss)

141448

In [ ]:
test1 = pd.read_csv('/content/drive/My Drive/Analytics vidhya/Predict Number of Upvotes/test_8i3B3FC.csv')

In [ ]:
test1.shape

(141448, 6)

In [ ]:
submit = pd.DataFrame({'ID':test1.ID, 'Upvotes':predss})

In [ ]:
submit.to_csv('subup.csv', index=False)